<div class="form-group">
    <form id="tweetForm" method="post">
    <input placeholder="what going in your Mind.." class="form-control" id="tweet">
</form>
</div>
<div class="container">
<div id="tweets" class="col-md-12">
   
</div>
</div>