<div class="col-lg-12">
   <h2> Meet with your favourite Celebrities</h2>
    </div>
<div class="col-lg-6">
<a href="/login" class="btn btn-primary">Login</a>
&nbsp;&nbsp;&nbsp;
<a class="btn btn-success">Register</a>

</div>